.product-page {
  background-color: #f5f3ee;
  display: flex;
}

.product-page .product-image {
  background-color: white;
  width: 600px;
  height: 600px;
  margin: 30px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.product-page .product-details {
  position: relative;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.product-page .product-name {
  color: #3c3c3c;
  position: absolute;
  top: 30px;
  left: 10px;
  font-size: 24px;
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 10px;
}

.product-page .product-description {
  color: #3c3c3c;
  position: absolute;
  top: 100px;
  left: 10px;
  font-size: 24px;
  margin-bottom: 10px;
}

.product-page .add-to-cart {
  position: absolute;
  bottom: 30px;
  left: 10px;
  font-size: 24px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #5e5147;
  color: #f5f3ee;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.product-page .add-to-cart:hover {
  background-color: #c1a57b;
}

.product-page .product-price {
  color: #5e5147;
  position: absolute;
  bottom: 100px;
  left: 10px;
  font-size: 24px;
  margin-bottom: 10px;
}

/* Media Queries */
@media (max-width: 768px) {
  .product-page {
    flex-direction: column;
    align-items: center;
  }

  .product-page .product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 20px;
  }

  .product-page .product-details {
    width: 100%;
    text-align: center;
  }

  .product-page .product-name {
    position: unset;
    display: flex;
    justify-content: center;
    font-size: 32px;
  }

  .product-page .product-description {
    position: unset;
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .product-page .add-to-cart {
    position: unset;
    display: flex;
    justify-content: center;
    font-size: 24px;
  }

  .product-page .product-price {
    position: unset;
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
}
