.review-section {
  position: relative;
  text-align: center;
  background-color: #5e5147;
  color: #f5f3ee;
  padding: 20px;
  border-radius: 20px;
  width: 50%;
  margin: auto;
  margin-bottom: 50px;
}

.review-section::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #5e5147;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
}

.review-content {
  transition: opacity 0.5s ease-in-out;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.stars {
  font-size: 1.2em;
  color: gold;
}
